#banner{
    color:white;
    height: 80vh;
    position: relative;
    .main{
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        >div{
            max-width: 800px;
            margin-bottom: 20px;
        }
        .button{
            font-size:3rem;
        }
    }
}

#grid{
    background-color:$light;
    border-radius: 18px;
    padding-block: 20px 80px;
    box-shadow: #a8a8a8 6px 5px 0px 0px;
    .grid-container {
        padding-inline: 50px;
        padding-top: 50px;
        margin-inline: 20px;
        border-top: dotted 50px $bg;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        gap:20px;
        .grid-item{
            transition: transform 0.5s ease-in-out;
            padding:25px;
            border:2px solid $bg;
            border-radius:24px;
            background-color: $light;
            h2{
                font-size:1.8em;
            }
            .content{
                max-width:300px;
            }
            &:nth-child(1) {
                background-color: $secondary; /* Color for the first item */
            }
            
            &:nth-child(3) {
                background-color: $third; /* Color for the third item */
            }
            
            &:nth-child(6) {
                background-color: $primary; /* Color for the fifth item */
            }

            &:last-child{
                grid-column: 2 span;
                background: $secondary;
            }
            &:hover{
                transform: scale(1.09);
            }
        }
    }

    @media(max-width:980px){
        .grid-container{
            grid-template-columns: repeat(2,1fr);
        }
    }

    @media(max-width:980px){
        .grid-container{
            grid-template-columns: repeat(1,1fr);
            .grid-item{
                &:last-child{
                    grid-column: 1 span;
                }
            }
        }
    }
}


section#subscribe{
    >div{
        --mask:
        radial-gradient(19.81px at 27.95px 50%,#000 99%,#0000 101%) 0 calc(50% - 26px)/100% 52px,
        radial-gradient(19.81px at -14.95px 50%,#0000 99%,#000 101%) 13px 50%/100% 52px repeat-y;
      -webkit-mask: var(--mask);
              mask: var(--mask);
        background-color:$third;
        padding: 45px 80px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        box-shadow: #78929b 6px 5px 0px 0px;
        >div{
            width:50%;

        }
        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .content{
            >div{
                max-width: 900px;
                margin-bottom: 20px;
            }
            .button{
                color:black;
            }
        }
    }
}

section#blank{
    >div{
        text-align:center;
        color:$light;
        display: flex;
        flex-direction: column;
        align-items: center;
        >div{
            max-width:900px;
            margin-bottom: 20px;
        }
    }
}

section#book{
    >div{
        display:flex;
        gap:20px;
        .page{
            position: relative;
            border-radius: 15px;
            background-color: $light;
            width:50%;
            padding:80px 50px;
            
            .content{
                margin-bottom: 20px;
            }
            &:first-child{
                box-shadow: #a8a8a8 -10px 8px 0px 0px;
                --mask:
                radial-gradient(13px at calc(100% - 13px) 50%,#000 99%,#0000 101%) 0 calc(50% - 26px)/100% 52px,
                radial-gradient(13px at calc(100% + 0px) 50%,#0000 99%,#000 101%) calc(100% - 13px) 50%/100% 52px repeat-y;
              -webkit-mask: var(--mask);
                      mask: var(--mask);
            }

            &:last-child{
                box-shadow: #a8a8a8 6px 5px 0px 0px;
                --mask:
                radial-gradient(13px at 13px 50%,#000 99%,#0000 101%) 0 calc(50% - 26px)/100% 52px,
                radial-gradient(13px at 0px 50%,#0000 99%,#000 101%) 13px 50%/100% 52px repeat-y;
              -webkit-mask: var(--mask);
                      mask: var(--mask);
            }
        }
    }
}

#promo{
    background-color: $secondary;
    padding:25px;
    border-radius: 24px;
    max-width:1200px;
    .main{
        display: flex;
        align-items: center;
        gap:25px;
        >div{
            width:80%;
            position: relative;
            >div{
                max-width: 800px;

            }

            &:before{
                position: absolute;
                content: "";
                display: block;
                width: 40px;
                height: 100%;
                background-color: transparent;
                border-right: $bg dashed 5px;
                right: 17px;
                top: 0px;
            }
        }
        a{
            margin:auto;
            position: relative;
            
            &:before{
                position: absolute;
                content: "";
                display: block;
                width: 40px;
                height: 40px;
                background-color: $bg;
                border-radius: 100px;
                left: -100px;
                top: -100px;
            }

            &:after{
                position: absolute;
                content: "";
                display: block;
                width: 40px;
                height: 40px;
                background-color: $bg;
                border-radius: 100px;
                left: -100px;
                bottom: -100px;
            }
        }
    }
}

section#two{
    display:flex;
    gap:25px;
    .item{
        background-color: $light;
        padding:25px;
        border: 2px solid #0f1425;
        border-radius: 24px;
        box-shadow: #a8a8a8 6px 5px 0px 0px;
        transform: scale(1);
        transition: transform 0.5s ease-in-out;

        &:hover{
            transform: scale(1.02);
        }
    }
}